APP_ENV=local
AWS_PROFILE=renobytes
AWS_DEFAULT_REGION=eu-west-2
UNBLOCK_TABLE=
UNBLOCK_BUCKET=
UNBLOCK_QUEUE_URL=
UNBLOCK_USER_POOL_ID=
UNBLOCK_CLIENT_ID=
UNBLOCK_AUTH_DOMAIN=
UNBLOCK_MODEL_ID=amazon.nova-pro-v1:0
